= render partial: 'shared/thesis_header'

%h2 Research Questions

%h3 Primary

%p How can software-based musical analysis tools be developed to assist in the composition of notated music in the style of eighteenth-century Baroque counterpoint?

%h3 Secondary

%ul

%li How can rule sets for a given musical style, such as eighteenth-century Baroque counterpoint, be codified in software to assess the level of adherence of musical material to that style?

%li How closely can software-based musical analysis tools match the quality assessments of style experts?

%li How can software-based musical analysis tools be used to suggest generated material that adheres to the given style?

%li How can software analysis tools be used to assess the suitability of a melody to canon?
