%h2
  Thesis (Draft)

%p
  Software-based musical analysis tools can be developed to assist in the composition of notated music in the style of eighteenth-century Baroque counterpoint.
  / Productivity in the creative arts can be measurably advanced through the reinforcement of habit in a technologically mediated ecosystem of tools and collaborative communities.
