%h2
  Thesis (Draft)

%p
  Productivity in the creative arts can be measurably advanced through the reinforcement of habit in a technologically mediated ecosystem of tools and collaborative communities.
