%h3.home__banner
  Composition. Technology. Creativity.

%h2 Southern Oregon University, 2015-18
%h1 Masters in Interdisciplinary Studies Program
%h3 Developing a Web assistant for music composition in the style of eighteenth-century Baroque counterpoint

.content
  .about__image-container.about__image-container--right
    = image_tag(image_path("stories/working-piano.jpg"))

  %p
    My interest lies at the intersection of musical creativity and software technology. Computers have been applied to musical composition from the early days of their history. Computer-aided composition ranges from notational tools to sound synthesis to algorithmic composition capable of writing original music without additional input. My desire, however, is not to replace the human composer, but to empower human-centered creativity.

  %p
    The objective of my research is to facilitate the development of software technologies that accelerate the development of compositional and creative skills.
