%h2 A Web assistant for music composition in the style of eighteenth-century Baroque counterpoint


.content
  %h3
    Composition. Technology. Creativity.

  %p
    My interest lies at the intersection of musical creativity and software technology. Computers have been applied to musical composition from the early days of their history. Computer-aided composition ranges from notational tools to sound synthesis to algorithmic composition capable of writing original music without additional input. My desire, however, is not to replace the human composer, but to empower her.

  .about__image-container.about__image-container--right
    = image_tag(image_path("stories/in-studio.jpg"))

  %p
    My undergraduate degree (B.A., University of Maryland, Baltimore County) is in Visual and Performing Arts with an emphasis in Dance. My passion has always been the capacity of the arts to convey meaning, to tell stories, to share experience, and to move hearts. It's ultimately the power of art to transfigure our minds that deeply matters–the power of the arts to serve new visions and elicit confidence in new possibilities, for the audience and for the creator.

  %p
    In my graduate studies, my twin focal points have been on composition within the Music program and software-centric tools and processes within the Emerging Media and Digital Arts program.
    By developing software technologies, we can enhance the natural capacities.

  %p
    My objective is to facilitate the development of software technologies that accelerate the development of compositional and creative skills.
