%h2 Statement of Purpose

.content
  %h3
    Composition. Collaboration. Community.

  %p
    My interest is in the development of processes that build community and connection through collaborative creativity.

  %p
    Art is essential. 'Creator' is one of the divine appellations worshipped by humanity since the dawn of consciousness. If we cultivate our intellects and our creative spirits, we can learn to reflect that fundamentally constructive attribute of goodness.

  %p
    Yes, the arts are an end unto themselves. They inspire us, move us, and empower us. The arts are also, however, a metaphor for living. We create artifacts, indeed, but also lives, families, and communities. The age of empires, war, and oppression as we've known it is coming to an end. We can, in fact we must, create a new future together. We must build collaboratively. We must build inclusively. We must use all the powers of mind and spirit to recreate our world. I assert that we simply cannot achieve this monumental task without an integration of the spirit of creativity in our collective public lives.

  %p
    My undergraduate degree (B.A., University of Maryland, Baltimore County) is in Visual and Performing Arts with an emphasis in Dance. My passion has always been the capacity of the arts to convey meaning, to tell stories, to share experience. While it's easy to fall in love with medium, the ritual power of dance class, the smell of clay in the studio, or the joyful freedom of music improvisation, it's ultimately the power of art to transfigure our minds that deeply matters. The power of the arts to serve new visions and elicit confidence in new possibilities.

  %p
    My objective is to facilitate the building and strengthening of creative ecosystems – to provide tools for individuals and groups, to bind artists together, and ultimately to nurture healthy communities.
