%h2 About

.content
  %h3.about__content-header
    Composition. Technology. Creativity.

  %p
    My interest lies at the intersection of musical creativity and software technology.

  %p
    Computers have been applied to musical composition from the early days of their history. Computer-aided composition ranges from notational tools to sound synthesis to algorithmic composition capable of writing original music without additional input. My desire, however, is not to replace the human composer, but to empower her.

  .about__image-container.about__image-container--right
    = image_tag(image_path("stories/in-studio.jpg"))

  %p
    My undergraduate degree (B.A., University of Maryland, Baltimore County) is in Visual and Performing Arts with an emphasis in Dance. My passion has always been the capacity of the arts to convey meaning, to tell stories, to share experience, and to move hearts. It's ultimately the power of art to transfigure our minds that deeply matters–the power of the arts to serve new visions and elicit confidence in new possibilities, for the audience and for the creator.

  %p
    In my graduate studies, my twin focal points have been on composition within the Music program and software-centric tools and processes within the Emerging Media and Digital Arts program. My coursework has ranged from coursework in music composition and piano studies to exploration of the application of technology in visual and audio mediums as well as the emerging maker culture. Along the way, I became enchanted with the formal disciplines of musical counterpoint in the 'common practice' tradition.

  .about__image-container.about__image-container--left
    = link_to("https://flat.io/score/583f6d53ac39360fbeb68078", target: "flat") do
      = image_tag(image_path("stories/invention-in-g-major.png"))

  %p
    My continuing objective is to facilitate the development of software technologies that accelerate the development of compositional and creative skills.

  %p
    To that end, I am developing a Web assistant for music composition in the style of eighteenth-century Baroque counterpoint. The codebase contains a general purpose library expressing the rudiments of Western music in the ruby programming language. The front-end application will present the composer with a real-time analysis of their work as they create.
