= render partial: 'shared/thesis_header'

- @view[:enrollments].each do |quarter, quarter_enrollments|
  .course_list
    %h3= FlexibleDate.new(quarter)
    = render quarter_enrollments

- if @view[:interest_list].present?
  .course_list
    %h3 Courses of Interest
    = render @view[:interest_list]
