@import 'colors';

.course_list {
  margin: 0 0 1em 0;

  h3 {
    margin: 0 0 1em 0;
    font-weight: 500;
    font-size: 1.382rem;
  }
}

.course {
  color: $primary-text-color;
  font-weight: 500;

  &.medium_value {
    color: $text-less-important-color;
    font-weight: 300;
  }

  &.low_value {
    color: $text-least-important-color;
    font-weight: 200;
  }

  .graduate_value {
    color: #BBBBBB;
    font-size: 0.382em;
  }
}
