.literature-review {
  h2 {
  }

  h3 {
    text-transform: uppercase;
    font-size: 1rem;
  }

  h4 {
    font-style: italic;
  }

  .citation {
    margin-bottom: 1rem;
  }

  .work-title {
    display: inline;
    font-style: italic;
  }
}
