body {
  font-family: Avenir, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0.382pt;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.618rem;
}

h2 {
  font-size: 1.618rem;
}

h3, h4 {
  font-size: 1rem;
}

.spread {
  margin: 0;
  padding: 0;
  background-color: #72a8ff;
  background: url(asset_path('vitruvian')) -25px -25px repeat-y;
  overflow: auto;
  overflow: -moz-scrollbars-none;

  > header, > article {
    margin: 2rem;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.85);
  }
}
