.work {
  margin: 0 0 1rem 0;

  &:last-child {
    margin-bottom: 0;
  }

  header {
    margin: 0 0 0.5rem 0;

    a {
      color: black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .title {
    font-size: 1.618rem;
    letter-spacing: 0.236rem;
    color: black;
    text-decoration: none;
  }

  .subtitle {
    font-weight: 500;
  }

  .attribution {
    text-transform: lowercase;

    * {
      display: inline;
    }

    > * {
      &::after {
        content: " | ";
        color: #BBBBBB;
      }

      &:last-child {
        &::after {
          content: "";
        }
      }
    }
  }
}
