.work {
  margin: 1rem 0;
  clear: left;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  header {
    margin: 0 0 0.5rem 0;

    a {
      color: black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .thumbnail {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border: 1px solid black;
  }

  .feature {
    width: 100%;
  }

  .feature, .materials, .process, .artist_statement {
    margin: 1rem 0;
  }

  .title {
    font-size: 1.618rem;
    letter-spacing: 0.236rem;
    color: black;
    text-decoration: none;
  }

  .subtitle {
    font-weight: 500;
  }

  .attribution {
    text-transform: lowercase;

    * {
      display: inline;
    }

    > * {
      &::after {
        content: " | ";
        color: #BBBBBB;
      }

      &:last-child {
        &::after {
          content: "";
        }
      }
    }
  }
}
