.resume
  .header
    %h1 Robert Emerson Head
    %ul.contact_info
      %li
        %a{:href => "http://twitter.com/roberthead", :target => "twitter"} @roberthead
      %li
        %a{:href => "http://github.com/roberthead", :target => "github"} github.com/roberthead
      %li
        %a{:href => "mailto:robert.head@gmail.com", :target => "email"} robert.head@gmail.com
      %li 541-778-4187
  .section
    %h2 Education
    %ul
      %li
        .timeframe
          May 1995
        .body
          University of Maryland — Baltimore County
          %ul
            %li
              Bachelor of Arts, Visual and Performing Arts
            %li
              Graduated
              %span.latin_honor Magna Cum Laude
      %li
        .timeframe Nov 2007
        .body
          Certified
          %span.branded_cerification Scrum Master
          proficient in leading agile development practices
      %li
        .timeframe
          Sept 2004 - May 2006
        .body
          Bellevue Community College (Bellevue, WA)
          %ul
            %li
              Digital Media major with coursework in Digital Gaming, Digital Video Production, Filmmaking
              %ul
                %li.technology
                  ActionScript, Flash, Final Cut Studio
  .section
    %h2 Professional Summary
    %p
      For more than a decade, I have led teams of software developers delivering high-profile Web applications.  My e-commerce expertise was earned in the trenches at Amazon.com and building new commerce platforms from scratch at both paizo.com and shopdragon.com.  My methodologies are agile, collaborative, and test-driven and my favored technology ecosystem is Ruby on Rails.
  .section
    %h2 Technical Summary
    %ul
      %li.technology
        .body
          Ruby on Rails, Ruby, Rspec, Capybara, Cucumber, PostgreSQL, MySQL, Haml, Sass, Zurb Foundation, Regular Expressions, JavaScript, HTML, CSS, Git, Subversion, CVS, WebObjects, Java, Perl, PHP, XML, Catsubst, ActionScript, C++, C
        .body
          Mac OS X, Linux, Windows
  .section
    %h2 Experience
    %ul
      %li.job
        .timeframe
          Feb 2013 - Present
        .body
          %span.employer> Zeal, LLC
          ,
          %span.job_title Founder; Chief Technical Officer
          %ul
            %li.technology
              Ruby on Rails, PostgreSQL, Haml, Sass, JavaScript, jQuery, Backbone, Ember, HTML, CSS, Git; Mac OS X, Linux
            %li
              Develop full-stack rails applications for client organizations
            %li
              Provide Ruby on Rails and e-commerce consulting for client organizations
      %li
      %li.job
        .timeframe
          Mar 2011 - Feb 2013
        .body
          %span.employer> Pivotal Labs
          ,
          %span.job_title Software Engineer
          %ul
            %li.technology
              Ruby on Rails, MySQL, Haml, Sass, Compass, JavaScript, jQuery, HTML 4/5, CSS3, Git; Mac OS X, Linux
            %li
              Developed full-stack rails applications for client organizations
            %li
              Led technical teams, guided agile processes as project 'anchor'
      %li.job
        .timeframe
          Jan - Mar 2011
        .body
          %span.employer> Lumos Labs
          ,
          %span.job_title Senior Rails Developer
          %ul
            %li.technology
              Ruby on Rails, MySQL, Haml, Sass, JavaScript, HTML, CSS, Subversion, Splunk; Mac OS X, Linux
            %li
              Developed front-end and back-end web infrastructure for best of
              %a{:href => "http://lumosity.com/", :target => "lumosity"} breed brain training site
      %li.job
        .timeframe
          Aug 2008 - Present
        .body
          %span.employer> ShopDragon, LLC
          ,
          %span.job_title Founder; Chief Technical Officer
          %ul
            %li.technology
              Ruby on Rails, MySQL, Haml, Sass, JavaScript, jQuery, HTML, CSS, Git; Mac OS X, Linux
            %li
              Conceived, designed, and developed hosted, multi-merchant e-commerce platform with an on-page content management system and full back-end infrastructure for browser-based point-of-sale, merchandising, warehouse, and website management
            %li
              Provide Ruby on Rails and e-commerce consulting for client organizations
      %li
      %li.job
        .timeframe
          Nov 2006 - Aug 2008
        .body
          %span.employer> iCrew.com
          ,
          %span.job_title Lead Web Developer
          %ul
            %li.technology
              Ruby on Rails, MySQL, JavaScript, HTML, CSS, Subversion; Mac OS X, Linux
            %li
              Led development of crowdsourcing social network targeting creative projects such as independent filmmaking
      %li.job
        .timeframe
          Apr - Nov 2006
        .body
          %span.employer> Net Objectives
          ,
          %span.job_title Senior Java Consultant
          %ul
            %li.technology
              Java, HTML, CSS, Struts, Photoshop, CVS; Windows, Linux
            %li
              Designed and implemented user interfaces for client organizations, including
              %a{:href => "http://www.onair.aero/", :target => "_blank"} onair.aero
              and
              %a{:href => "http://amazon.com/", :target => "_blank"} amazon.com
      %li.job
        .timeframe
          Jan 2003 - Jan 2006
        .body
          %span.employer> Paizo Publishing
          ,
          %span.job_title Duke of Web Technologies
          %ul
            %li.technology
              WebObjects, Java, MySQL, HTML, CSS, Perl, Photoshop, CVS; Mac OS X, Mac OS X Server
            %li
              Designed, developed, launched, and maintained complete customer-facing store and community site (
              %a{:href => "http://paizo.com/", :target => "_blank"}> paizo.com
              ) with back-end systems supporting merchandising, customer service, and warehouse
              %ul
                %li Drove online business from zero to million-dollar run rate and industry leadership in twelve months
            %li Designed, developed, launched, and maintained magazine subscription management service saving the company $10k per month
      %li.job
        .timeframe
          Nov 2000 - Jan 2003
        .body
          %span.employer Amazon.com
          %ul
            %li
              .job
                %span.job_title> Web Development Manager & Training Coordinator
                ,
                %span.dates Apr 2002 - Jan 2003
              %div
                %span.job_title> Lead Web Developer
                ,
                %span.dates Nov 2000 - Mar 2002
              %ul
                %li.technology
                  Perl, XML, Catsubst, HTML, CSS, Javascript, CVS; Linux, Windows
                %li
                  Managed team of Web developers responsible for launch of Baby store
                %li
                  Managed development of Amazon.com Toys, Baby, Video Games, Kitchen, Outdoor Living, Electronics, Tools and Hardware, and other non-media stores
                %li
                  Developed, managed, and executed training programs for Web developers and related job positions
                %li
                  Contributed to progress and evolution of technical strategies for achieving company goals
      %li.job
        .timeframe
          June 1999 - Jan 2000
        .body
          %span.employer N2H2, Inc.
          %ul
            %li
              .job
                %span.job_title> Lead Web Developer
                ,
                %span.dates Apr - Oct 2000
              %div
                %span.job_title> Web Developer
                ,
                %span.dates Jan - Apr 2000
              %div
                %span.job_title> Consultant
                ,
                %span.dates June 1999 - Jan 2000
              %ul
                %li.technology
                  HTML, CSS, Javascript, Perl, XML, Javascript, CVS; Mac OS, Linux
                %li Managed team of Web developers serving and collaborating with all company departments
                %li Designed, developed, and maintained Web sites, applications, tutorials, and supporting tools
  .footer
    %ul.contact_info
      %li
        %a{:href => "http://roberthead.net/"} http://roberthead.net/
