%h2#literature-review
  Literature Review

%h3#introduction Introduction
%ul
  %li
    My research is about... computer-assisted music composition (CAC).
    %ul
      %li
        18th century Baroque style counterpoint
      %li
        Computer analysis and compositional assistance
  %li
    Counterpoint
    %ul
      %li
        18th Century and common practice counterpoint has been a well-established subject for almost 300 years.
  %li
    Software analysis
    %ul
      %li
        Several teams have created software that analyzes adherence to certain styles of music and generates music suited to that style.
  %li
    Educational Technology
    %ul
      %li
        A considerable body of research addresses how to apply musical technologies in a learning setting.
  %li
    Deficits in the literature
    %ul
      %li
        Software research in music analysis is almost exclusively focused on strategies for generating new material algorithmically.
      %li
        This research will, instead, provide a tool that empowers human composers by dynamically illustrating the principles of counterpoint as they are generating material.

%h3#body Body
%ul
  %li
    Counterpoint
    %ul
      %li
        The seminal work in counterpoint, Johann Joseph Fux's Gradus ad Parnassum
        %ul
          %li
            published in 1725
          %li
            established the 'species counterpoint' teaching methodology
          %li
            clearly defines the rules from which fitness metrics can be derived.
      %li
        Gioseffo Zarlino. The art of counterpoint : part three of Le istitutioni harmoniche, 1558
      %li
        Arnold Schoenberg's 'Preliminary Exercises in Counterpoint'
        %ul
          %li
            Published 1963 by one of the greats of 20th century composition.
      %li
        Kent Kennan's Counterpoint is arguably the most well-regarded contemporary text on the subject.
      %li
        Counterpoint by Walter Piston
      %li
        Keyboard Music (Johann Sebastian Bach) (1970) will serve as a trustworthy edition of Bach's repertoire of contrapuntal music in action. His 15 two-part inventions will be used as a reference point for the quality of analysis.
  %ul
    Software analysis
    %ul
      %li
        Herreman &amp; Sorensen
        %ul
          %li
            A variable neighbourhood search algorithm to generate first species counterpoint musical scores (2011)
          %li
            Composing Fifth Species Counterpoint Music With Variable Neighborhood Searching (2012)
            %ul
              %li
                Details their 38 fitness functions for scoring the adherence of a composition to 18th century contrapuntal guidelines.
          %li
            FuX, an Android app that generates counterpoint (2013)
      %li
        Springer, Fugue composition with counterpoint melody generation using genetic algorithms, 2004
      %li
        Shyamala Doraisamy. Locating recurring themes in musical sequences, 1995

  %li
    Pedagogy and Music technology
    %ul
      %li
        Andrew Brown, Music Technology and Education: Amplifying Musicality, 2015
      %li
        David Cope, Hidden Structure: Music Analysis Using Computers, 2009
      %li
        Michael Cuthbert, Music21: A Toolkit for Computer-Aided Musicology, 2013
      %li
        Barrett. The musical experience : rethinking music teaching and learning, 2014
      %li
        Miller. Multimodal composing in classrooms : learning and teaching for the digital world, 2012

  %li
    Related Codebases
    %ul
      %li
        Music21 at MIT http://web.mit.edu/music21/
      %li
        Ruby gems
        %ul
          %li
            https://github.com/aspiers/ruby-harmony
          %li
            https://github.com/beneggett/music_theory
            %ul
              %li
                http://confreaks.tv/videos/mwrc2015-writing-music-with-ruby-a-subtle-introduction-to-music-theory
          %li
            https://github.com/chrisbratlien/rb-music-theory
