%h2 A Web assistant for music composition in the style of eighteenth-century Baroque counterpoint
%p Robert Head, SOU, MIIS 521, Feb 2017
%h1#overview Overview
%p
  Research Area: Computer assisted music composition (CAC)
  Research Topic: Software-guided counterpoint
  Worldview: Pragmatic
  Research Method: Mixed
  Research Design: Embedded mixed methods
%h1#researchquestions Research Questions
%p How can software-based musical analysis tools be developed to assist in the composition of notated music in the style of eighteenth-century Baroque counterpoint?
%p How can rule sets for a given musical style, such as eighteenth-century Baroque counterpoint, be codified in software to assess the level of adherence of musical material to that style?
%p How closely can software-based musical analysis tools match the quality assessments of style experts?
%p How can software-based musical analysis tools be used to suggest generated material that adheres to the given style?
%p How can software analysis tools be used to assess the suitability of a melody to canon?
%h1#hypotheses Hypotheses
%p Undergraduate music students compose higher-scoring inventions using the tool compared to before exposure.
%p Undergraduate music students compose higher-scoring inventions after exposure to the tool compared to before exposure.# Literature Review Outline
%h1#introduction Introduction
%p
  My research is about... computer-assisted music composition (CAC).
  18th century Baroque style counterpoint
  Computer analysis and compositional assistance
  Counterpoint
  18th Century and common practice counterpoint has been a well-established subject for almost 300 years.
  Software analysis
  Several teams have created software that analyzes adherence to certain styles of music and generates music suited to that style.
  Educational Technology
  A considerable body of research addresses how to apply musical technologies in a learning setting.
  Deficits in the literature
  Software research in music analysis is almost exclusively focused on strategies for generating new material algorithmically.
  This research will, instead, provide a tool that empowers human composers by dynamically illustrating the principles of counterpoint as they are generating material.
%h1#body Body
%p
  Counterpoint
  The seminal work in counterpoint, Joseph Fux's Gradus ad Parnassum
  published in 1725
  established the 'species counterpoint' teaching methodology
  clearly defines the rules from which fitness metrics can be derived.
  Gioseffo Zarlino. The art of counterpoint : part three of Le istitutioni harmoniche, 1558
  Arnold Schoenberg's 'Preliminary Exercises in Counterpoint'
  Published 1963 by one of the greats of 20th century composition.
  Kent Kennan's Counterpoint is arguably the most well-regarded contemporary text on the subject.
  Counterpoint by Walter Piston
  Keyboard Music (Johann Sebastian Bach) (1970) will serve as a trustworthy edition of Bach's repertoire of contrapuntal music in action. His 15 two-part inventions will be used as a reference point for the quality of analysis.
%p
  Software analysis
  Herreman &amp; Sorensen
  A variable neighbourhood search algorithm to generate first species counterpoint musical scores (2011)
  Composing Fifth Species Counterpoint Music With Variable Neighborhood Searching (2012)
  Details their 38 fitness functions for scoring the adherence of a composition to 18th century contrapuntal guidelines.
  FuX, an Android app that generates counterpoint (2013)
  Springer, Fugue composition with counterpoint melody generation using genetic algorithms, 2004
  Shyamala Doraisamy. Locating recurring themes in musical sequences, 1995
%p
  Pedagogy and Music technology
  Andrew Brown, Music Technology and Education: Amplifying Musicality, 2015
  David Cope, Hidden Structure: Music Analysis Using Computers, 2009
  Michael Cuthbert, Music21: A Toolkit for Computer-Aided Musicology, 2013
  Barrett. The musical experience : rethinking music teaching and learning, 2014
  Miller. Multimodal composing in classrooms : learning and teaching for the digital world, 2012
%p
  Related Codebases
  Music21 at MIT http://web.mit.edu/music21/
  Ruby gems
  https://github.com/aspiers/ruby-harmony
  https://github.com/beneggett/music_theory
  http://confreaks.tv/videos/mwrc2015-writing-music-with-ruby-a-subtle-introduction-to-music-theory
  https://github.com/chrisbratlien/rb-music-theory
%h1#ongoingoriginalresearch Ongoing original research
%p The foundation of the web tool is an original library that encodes music theory and analysis in to a library of code. This library is written in the ruby programming language and is publicly available as an open-source ruby ‘gem’.
%p https://github.com/roberthead/head_music
%p Approximately 1900 lines of code (as of 2/22/2017) modeling:
%p
  Pitch Class
  %br/
  Note Letter Names
  %br/
  Accidentals
  %br/
  Note Spellings
  %br/
  Octaves
  %br/
  Pitch
  %br/
  Circle of Fifths
  %br/
  Absolute Intervals
  %br/
  Functional Intervals
  %br/
  Interval Quality
  %br/
  Scale Types
  %br/
  Scales
  %br/
  Key Signatures
  %br/
  Consonance and Dissonance
