%ul.contact-methods.row
  %li.contact-method.small-12.medium-6.large-3.columns
    = link_to("robert.head@gmail.com", "mailto:robert.head@gmail.com", target: "gmail")
  %li.contact-method.small-12.medium-6.large-3.columns
    = link_to("@roberthead", "https://twitter.com/roberthead", target: "twitter")
  %li.contact-method.small-12.medium-6.large-3.columns
    = link_to("facebook.com/robert.head", "https://facebook.com/robert.head", target: "facebook")
  %li.contact-method.small-12.medium-6.large-3.columns
    = link_to("github.com/roberthead", "https://github.com/roberthead", target: "github")
